<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Value Up Neighborhood</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.2.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.2.min.js"></script>
  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.2.min.js"></script>

  <!-- =======================================================
  * Template Name: Dewi - v2.1.0
  * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Value Up Neighborhood</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>

          <li><a href="#story">Story</a></li>
          <li><a href="#cat-rent">Neighborhood Features</a></li>
          <li><a href="#median-rent">Median Rent</a></li>
          <li><a href="#predicted-rent">Predicted Rent</a></li>
          <li><a href="#methods">Methods</a></li>
          <li><a href="https://www.linkedin.com/in/xin-zhang-1158b841/">About</a></li>

        </ul>
      </nav><!-- .nav-menu -->

<!--      <a href="#story" class="get-started-btn scrollto">Get Started</a>-->

    </div>
  </header><!-- End Header -->

  <!-- ======= Title Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Get to know your neighborhood</h1>
      <h2>How can we boost our neighborhood values?</h2>
      <div class="d-flex">
        <a href="#story" class="btn-get-started scrollto">Get Started</a>
<!--        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Story Section ======= -->
    <section id="story" class="light-bg-default">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>GOAL</h3>
            <p class="font-italic">
              Finding the right place to invest in rental properties or the right ways to improve current conditions is no longer gambling.
            </p>
            <p>
              Provide investors and local communities with separate optimized improvement schemes for the rental market integrating their local social and physical conditions and budgets.
            </p>
          </div>

          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>WHY</h3>
            <p>
                Socio-spatial features, including location, demographics, social environments, local transportation, and characteristics of neighborhood-built environments, could be determinant factors of rental prices besides rental properties themselves (for example, the numbers of bedrooms and bathrooms, furnishing conditions, views, and building/community amenities). Particularly in dense areas/cities like Manhattan, commute services and city life features affect people’s housing choices with a low car use compared to suburban areas.
            </p>
          </div>

          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
            <h3>HOW</h3>
                <ul>
                  <li>
                    <i class="bx"> </i>
                    Predict average neighborhood rental prices based on the neighborhood socio-spatial features.
                  </li>
                  <li>
                    <i class="bx"> </i>
                    Identify the key environmental features for increasing the neighborhood rental market values.
                  </li>
                </ul>
            <p>
                - 
            </p>
            <p>
                - 
            </p>
          </div>

          <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
            <img src="static/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Story Section -->

      
    <!-- ======= Categories vs Rents Section ======= -->
    <section id="cat-rent" class="dark-bg-default">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div>
            <h3>Socio-Spatial Features in Counties</h3>
            <p class="font-italic">
              Seven neighborhood features and averege one tenth of rents in county level.
            </p>
            <p>
              The Livability Index scores neighborhoods and communities across the U.S. for the services and amenities that impact your life the most.
            </p>
          </div>

        </div>

        <div class="row">
          <div class="bk-root">
              {{ script_rent_cat_ny|safe }}
          </div>
        </div>
        
        <div class="row extra-padding">
          <div class="col text-center">
            <p>
              
            </p>
          </div>
        </div>
          
        <div class="row">
          <div class="bk-root">
              {{ script_rent_cat_nj|safe }}
          </div>
        </div>
          
        <div class="row extra-padding">
          <div class="col text-center">
            <a href="#predicted-rent" class="dark-next-btn scrollto">Next</a>
          </div>
        </div>
        

      </div>
    </section><!-- End Median Rent Section -->
      

    <!-- ======= Median Rent Section ======= -->
    <section id="median-rent" class="light-bg-default">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div>
            <h3>Find the Median Rents and Livability Scores in Metro New York City</h3>
          </div>

        </div>

        <div class="row">
          <div class="bk-root">
              {{ script_med_rent|safe }}
          </div>
        </div>
          
        <div class="row extra-padding">
          <div class="col text-center">
            <a href="#predicted-rent" class="dark-next-btn scrollto">Next</a>
          </div>
        </div>
        

      </div>
    </section><!-- End Median Rent Section -->

    <!-- ======= Predicted Rent Section ======= -->
    <section id="predicted-rent" class="dark-bg-default">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div>
            <h3>Features vs Rent Simulations</h3>
            <p class="font-italic">
                Choose a county in New York or in New Jersey for neigborhood median rent simulation.
            </p>
            <p>
                Adjust the median rent range from $0 to $5,000; Select a feature to change its degree. The forecasted neighborhood median rents will show in the map below.
            </p>
                <ul>
                  <li>
                    <i class="bx"> </i>
                    prox_trans: Public Transportation Convenience (number of jobs accessible within a 45-minute transit commute)
                  </li>
                  <li>
                    <i class="bx"> </i>
                    prox_auto: Self-driving tranportation Convenience (number of jobs accessible within a 45-minute automobile commute)
                  </li>
                  <li>
                    <i class="bx"> </i>
                    prox_markets: Living Convenience (number of grocery stores and farmers’ markets within a half-mile)
                  </li>
                  <li>
                    <i class="bx"> </i>
                    prox_land_use: Neighborhood Land Use Diversity (mix of jobs within a mile)
                  </li>
                  <li>
                    <i class="bx"> </i>
                    trans_walk_trip: Walkable Environments (estimated walk trips per household per day)
                  </li>
                </ul>
          </div>

        </div>
<!--
        <div class="row extra-padding">

          <div class="input-group">
            <select class="custom-select" id="inputGroupSelect04">
              <option selected>Choose a county</option>
              <option value="1">Bronx County</option>
              <option value="2">Queens County</option>
              <option value="3">New York County</option>
            </select>
            <div class="input-group-append">
              <button class="btn analyze-btn scrollto" type="button">Analyze</button>
            </div>
          </div>
            
        </div>
-->            
        <div class="row">
          <div class="bk-root">
              {{ script_pred_rent|safe }}
          </div>
        </div>

        <div class="row extra-padding">
          <div class="col text-center">
            <a href="#methods" class="dark-next-btn scrollto">Next</a>
          </div>
        </div>

      </div>
    </section><!-- End Predicted Rent Section -->


    <!-- ======= Methods Section ======= -->
    <section id="methods" class="light-bg-default">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Data Engineering</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Machine Learning</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Github</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-5 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Where did the data come from?</h3>
                <p class="font-italic">
                    <a href="https://www.census.gov/data/developers/data-sets/acs-5year.html">- American Community Survey (ACS) 5-Year Data (2009-2018)</a>
                </p>
                <p class="font-italic">
                    <a href="https://livabilityindex.aarp.org/">- AARP.org Livability Index</a>
                </p>
                <p class="font-italic">
                    <a href="https://www.census.gov/geographies/mapping-files/time-series/geo/tiger-line-file.html">- Census Mapping Files: TIGER/Line Shapefiles</a>
                </p>
                <p>
                    The project recursively retrieved the data from the livability index map for the targeted States and associated the neighborhood information with internal points of census data to combine the housing and spatial information.
                </p>
              </div>
              <div class="col-xl-6 order-1 order-xl-2 text-center">
                <img src="static/img/datasketch.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Models and Results</h3>
                <p class="font-italic">

                </p>
                <p>
                  The project extracted 43 detailed features from six categories (excluded housing cost itself) indcluding demographics to explore the individual effects.
                </p>
                <ul>
                  <li>
                    <i class="bx bx-check-double"> </i>
                    The results from three methods (random forest, Ada boosting, and gradient boosting) showed the 43 features provided 80%-84% accuracies (calcuated from MAPE) to predict neighborhood average rents."
                  </li>
                  <li>
                    <i class="bx bx-check-double"> </i>
                    The top important features the models observed were: transportation (number of jobs accessible within a 45-minute transit commute and number of jobs accessible within a 45-minute automobile commute), street safety design (annual average number of fatal crashes per 100,000 people), accessibility to markets (number of grocery stores and farmers’ markets within a half-mile), walkable environments (estimated walk trips per household per day), and mixed land use (mix of jobs within a mile).
                  </li>
                </ul>
              </div>
                
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <p>
                    An example of the top part of a single decision tree from the random forest:
                </p>
                <img src="static/img/small_tree.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3> </h3>
                <p class="font-italic">

                </p>
                <p>
                    <a href="https://github.com/totoroxin/tdi_housing_spatial_features">More details</a>
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
<!--                <img src="static/img/features-3.png" alt="" class="img-fluid">   -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Methods Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>X. Zhang 2020</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>